:host {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 12px;
}

.sort {
    color: #2f80ed;
    cursor: pointer;
}

.search__input {
    height: 18px;
    padding: 0 5px;
    border: none;
    outline: none;
    color: gray;
}
