:host {
  width: 30%;
}

.login {
  display: flex;
  justify-content: flex-end;
  column-gap: 7px;

  &__avatar {
    margin: 0 5px;
  }

  &__button {
    height: 25px;
    margin: 0;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    background: #2f80ed;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
}
