:host {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.search-block {
  max-width: 570px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.search-box {
  width: 100%;
  display: flex;
}

.search-input {
  width: 460px;
  padding: 10px;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #333333;
  background: #efefef;
}

.search-button {
  text-align: center;
  width: 80px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  background: #2f80ed;
  border: none;
  border-radius: 0px 4px 4px 0px;
  filter: drop-shadow(2px 0px 4px #2f80ed);
  font-size: 12px;
  color: #ffffff;
}

.setting-button {
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
