.details {
    max-width: 1200px;
    width: 100%;
    margin: 44px auto;
    display: flex;
    background: #E5E5E5;
    box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.25);
    border-radius: 0px 5px 5px 0px;

    &__image {
        max-width: 729px;
    }

    &__description {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 35px;
    }

    &__date {
        font-size: 12px;
        text-align: left;
        padding-top: 7px;
        color: #828282;
    }

    &__title {
        text-align: left;
        font-weight: bold;
        font-size: 24px;
        color: #000000
    }

    &__subtitle {
        font-size: 14px;
        text-align: left;
    }

    &__button_back {
        border: none;
        display: flex;
        padding: 0;
        cursor: pointer;
    }
}

.material-icons {
    font-size: 19px;
    margin: 0 5px;
}

mat-card-content {
    display: flex;
    align-self: flex-end;
    max-width: 300px;
}

.mat-card-subtitle {
    margin: 0px;
}
