:host {
    display: flex;
    column-gap: 20px;
    font-size: 12px;
}

.sort {
    display: flex;
    align-items: center;
    column-gap: 3px;
    cursor: pointer;

    &__text {
        color: #2f80ed;
    }
}

.mat-icon {
    color: #929292;
}
