:host {
    display: flex;
    column-gap: 20px;
    font-size: 12px;
}

span {
    display: flex;
    align-items: center;
    column-gap: 3px;
    cursor: pointer;

    p {
        color: #2f80ed;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.mat-icon {
    color: #929292;
}
