* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
    transition: background-image 1s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
